body {
  font-family: Helvetica;
  background: #eaeaea;
  padding: 0;
  margin: 0;
}

.crumbs {
  background-color: #737373;
  padding: 0;
  margin: 0;
  text-align: left;
  height: 40px;
}

.crumbs>ul {
  text-align: left;
  list-style: none;
  display: inline-table;
  padding: 0;
  margin: 0;
}

.crumbs>ul a {
  color: #eaeaea;
}

.crumbs>ul>li .dropdown>ul.dropdown-menu>li>a {
  color: #333;
}

.crumbs>ul>li {
  display: inline;
}

.crumbs>ul>li>.crumb small {
  color: #eaeaea;
  float: left;
  position: relative;
  left: -20px;
  font-weight: normal;
}

.crumbs>ul>li>.crumb {
  box-sizing: content-box;
  display: block;
  float: left;
  height: 10px;
  line-height: 10px;
  padding: 15px 20px 15px 60px;
  position: relative;
  /* margin: 0 10px 0 0; */
  margin: 0;

  font-size: 16px;
  text-decoration: none;
}

.crumbs>ul>li>.crumb:after {
  content: "";
  position: absolute; right: -20px; top: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #3498db;
  z-index: 1;
}

.crumbs>ul>li:first-child>.crumb:before {
  display: none;
}

.crumbs>ul>li>.crumb:hover {
  background: #fa5ba5;
}
.crumbs>ul>li>.crumb:hover:after {
  border-left-color: #fa5ba5;
}

.crumbs>ul>li:first-child>.crumb {
  /* background: #3498db; */
  background: #F54F25;
  padding-left: 35px;
}
.crumbs>ul>li:first-child>.crumb:after {
  border-left-color: #F54F25;
}

.crumbs>ul>li:nth-child(2)>.crumb {
  background: #81B902;
}
.crumbs>ul>li:nth-child(2)>.crumb:after {
  border-left-color: #81B902;
}

.crumbs>ul>li:nth-child(3)>.crumb {
  background: #02A4EF;
}
.crumbs>ul>li:nth-child(3)>.crumb:after {
  border-left-color: #02A4EF;
}

.crumbs>ul>li:nth-child(4)>.crumb {
  background: #FEB801;
}
.crumbs>ul>li:nth-child(4)>.crumb:after {
  border-left-color: #FEB801;
}

.row {
  width: 100%;
}

.left-menu {
  /* background-color: #fed15c; */
  background-color: #737373;
  border-right: 3px solid #737373;
  position: fixed;
  top: 43px;
  bottom: 0px;
  left: 0px;
  width: 15%;
  text-align: left;
}

.left-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.left-menu ul li {
  padding: 15px;
  padding-left: 25px;
}

.left-menu ul li:hover {
  background-color: #737373;
}
.left-menu ul li:hover a {
  color: #eaeaea;
}

.left-menu ul li a {
  color: #333;
  text-decoration: none;
}
