<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Audit de BDD</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="stylesheet" href="bower_components/html5&#45;boilerplate/css/normalize.css"> -->
  <!-- <link rel="stylesheet" href="bower_components/html5&#45;boilerplate/css/main.css"> -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <!-- <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap&#45;theme.min.css"> -->
  <link rel="stylesheet" href="app.css">
  <!-- <script src="bower_components/html5&#45;boilerplate/js/vendor/modernizr&#45;2.6.2.min.js"></script> -->

  <style media="screen" type="text/css">
    .box {
      margin-top: 20px;
      background-color: #fff;
      padding: 5px;
      border-radius: 2px;
      box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
    }
  </style>
</head>
<body>
  <div ng-view>
    <div ng-controller="MyCtrl">
      <div class="crumbs">
        <ul>
          <li>
            <span class="crumb">
              <a href ng-click="selectAudit(undefined)">
                <i class="glyphicon glyphicon-chevron-up" style="top: -3px"></i>
              </a>
            </span>
          </li>
          <li>
            <span class="crumb">
              <span class="dropdown" dropdown>
                <a href="" class="dropdown-toggle" dropdown-toggle>
                  <span ng-if="cur_audit === undefined">Audit</span>
                  <span ng-if="cur_audit !== undefined">{{ cur_audit.name }}</span>
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li ng-repeat="audit in audits">
                  <a ng-if="audit != cur_audit" ng-click="selectAudit(audit)" href>{{audit.name}} <em>({{audit.date}})</em></a>
                  </li>
                </ul>
              </span>
            </span>
          </li>
          <li ng-if="cur_audit !== undefined && instances">
            <span class="crumb">
              <span class="dropdown" dropdown>
                <a href="" class="dropdown-toggle" dropdown-toggle>
                  <span ng-if="cur_instance === undefined">Instance</span>
                  <span ng-if="cur_instance !== undefined">Instance {{ cur_instance.id }}</span>
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li ng-repeat="instance in instances">
                    <a ng-if="instance != cur_instance" ng-click="selectInstance(instance)" href>Instance {{instance.id}}</a>
                  </li>
                </ul>
              </span>
            </span>
          </li>
          <li ng-if="cur_instance !== undefined && tables">
            <span class="crumb">
              <span class="dropdown" dropdown>
                <a href="" class="dropdown-toggle" dropdown-toggle>
                  <span ng-if="cur_table === undefined">Table</span>
                  <span ng-if="cur_table !== undefined">{{ cur_table.name }}</span>
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li ng-repeat="table in tables">
                    <a ng-if="table != cur_table" ng-click="selectTable(table)" href>{{table.name}}</a>
                  </li>
                </ul>
              </span>
            </span>
          </li>
          <li ng-if="cur_table !== undefined && columns">
            <span class="crumb">
              <span class="dropdown" dropdown>
                <a href="" class="dropdown-toggle" dropdown-toggle>
                  <span ng-if="cur_column === undefined">Colonne</span>
                  <span ng-if="cur_column !== undefined">{{ cur_column.name }}</span>
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li ng-repeat="column in columns">
                    <a ng-if="column != cur_column" ng-click="selectColumn(column)" href>{{column.name}}</a>
                  </li>
                </ul>
              </span>
            </span>
          </li>
          <em ng-if="cur_audit !== undefined" style="position: absolute; right: 30px; top: 10px; color: #eaeaea">
            {{ cur_audit.date }}
          </em>
        </ul>
      </div>

      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">
            <div class="box">
              <div id="chart-physical-structure" style="height: 400px; margin: 0 auto"></div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="box">
              <div id="chart-logical-structure" style="height: 400px; margin: 0 auto"></div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="box">
              <div id="chart-scheme-quality" style="height: 400px; margin: 0 auto"></div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="box">
              <div id="chart-data-quality" style="height: 400px; margin: 0 auto"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="http://code.highcharts.com/highcharts.js"></script>
  <script src="http://code.highcharts.com/modules/exporting.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-resource/angular-resource.min.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script src="app.js"></script>
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>
</body>
</html>
